<!-- {% extends "base.html" %}

{% block mainbody %}
{% if object %}
        {% endif %}


{#        {% for item in items %}#}
{##}
{#        {% endfor %}#}

        {% if pages %}

            {% if current_page != 1 %}

            {% endif %}

            {% for page in pages %}
                {% if page == current_page %}
                    <b>{{ page }}</b>
                {% else %}
                {% endif %}
            {% endfor %}

            {% if current_page != page_number %}
            {% endif %}
        {% endif %}



{% endblock %} -->